

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Client à statut FATCA actif </h4>
                        <p class="card-category"> Code client : {{personne_morale.codeClient}} </p>
                    </div>
                    <div class="card-body">
                        <label class="l1" ><b> <section class="mat-typography">
                            <h2>Fiche FATCA</h2>
                          </section> </b></label> 

                          <div *ngIf="personne_morale.us">  
                            <p class="l2"> La société est créée en vertu de la loi américaine </p>
                          </div>

                          <div *ngIf="personne_morale.actionnaireUs">  
                            <p class="l2"> Le capital de la société est détenu par un actionnaire ou plus qui sont des contribuables américains</p>
                          </div>

                          <div *ngIf="personne_morale.codeTin">  
                            <p class="l2"> La société dispose d'un code TIN  </p>
                          </div>

                          <div *ngIf="personne_morale.giin">  
                            <p class="l2"> Il s'agit d'une institution Financière non américaine </p>
                          </div>
                        
                        





                    </div>
                </div>
            </div>               
        </div>
    </div>
    
  </div>

